{% extends 'blog/base.html' %}
{% load blog_filters %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-md-offset-1 col-sm-offset-1 col-lg-offset-1">
            <div class="jumbotron article-container">
                <h2 class="text-center">Welcome to the Imperial Blog</h2>
                <h4 class="text-center">Words of non-wisdom from the heart of the Galactic Empire</h4>
            </div>
        </div>
        <br />
        {% for article in articles %}
                <div class="row-fluid">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2">
                        <div class="well well-lg">
                        <a href="/read/{{ article.slug }}/" class="article-index-link">
                            <h1>{{ article.title }}</h1>
                        </a>
                        <h6 class="text-muted">Published on: <small>{{ article.date }}</small></h6>
                        <hr />
                        {{ article.content|mdparagraph|safe }}
                        <a href="/read/{{ article.slug }}/"><h6 class="text-right text-muted">Read on...</h6></a>
                    </div>
                    </div>
                    <br />
                    <br />
                </div>
        {% endfor %}
    </div>
{% endblock %}
